<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--加载配置文件，这个不要了；用SuperDiamond的配置，项目名称为coocaa-bi-0.3-->
    <!--<context:property-placeholder location="classpath:*.properties"/>-->
    <import resource="super-diamond-bean.xml"/><!--加载SuperDiamond配置-->
    <!--<context:annotation-config/>&lt;!&ndash;如果想让SuperDiamond有用，则一定要有这个&ndash;&gt;-->


    <context:component-scan base-package="org.cboard"/><!--包扫描-->

    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
    </bean>

    <!--<import resource="spring-cacher-redis.xml"/>-->
    <import resource="spring-cacher-ehcache.xml"/>
</beans>