<div class="btn-group" style="cursor: move;margin: 3px 3px 20px 3px;position: relative;">
    <button type="button" class="btn btn-sm" title="{{param.title}}" ng-class="{true:'btn-primary',false:'btn-default'}[param.values.length>0]">
        {{param.name}}
    </button>
    <button type="button" style="padding: 0px;" class="btn btn-sm dropdown-toggle dateRangePickerBtn" ng-class="{true:'btn-primary',false:'btn-default'}[param.values.length>0]"
           >
        <input date-range-picker flag="{{param.$$hashKey}}" class="form-control date-picker" type="text"
               ng-model="date"  options="{locale:opts.locale,ranges:opts.ranges,eventHandlers:opts.eventHandlers,
               startDate:param.selects[0],endDate:param.selects[param.selects.length-1]}"  style="width: 300px;"/>
    </button>
    <span style="position:absolute;top:35px;left:0px;color: #97a0b3;font-size: 10px;">备注：{{param.selects[0]}}至{{param.selects[param.selects.length-1]}}时间段有数据</span>

</div>
<style>
    .dateRangePickerBtn{
        padding: 0px;
    }
    .dateRangePickerBtn input{
       height: 28px;
        border: none;
        padding: 0px 0px 0px 10px;
    }
</style>