<div class="container box box-success">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <h1>
                    路径分析
                </h1>
            </section>
            <div class="content" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <i class="fa fa-sort-amount-desc"></i>
                                <h3 class="box-title ng-binding">
                                    <form action="" class="form-inline">
                                        <div class="form-group">
                                            <label for="">路径名称</label>
                                            <select name="" id="timeType" class="form-control" ng-click="changeTime()">
                                                <option value="0">我是路径名称1</option>
                                                <option value="1">我是路径名称2</option>
                                                <option value="2">我是路径名称3</option>
                                                <option value="3">我是路径名称4</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="sr-only"></label>
                                            <label for="">时间</label>
                                            <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker" type="text"
                                                   ng-model="date" options="opts" required/>
                                        </div>
                                    </form>
                                </h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" ng-click="reload(widget)"><i class="fa fa-refresh"></i>
                                    </button>
                                    <!-- ngIf: widgetCfg --><button type="button" class="btn btn-box-tool ng-scope" ng-if="widgetCfg" ng-click="config(widget)"><i class="fa fa-wrench"></i>
                                </button><!-- end ngIf: widgetCfg -->
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" ng-click="modalChart(widget)"><i class="fa fa-square-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <!--<div id="routeContent" class='conHeight' >-->
                                <div id="funnelChart" class='conHeight' >

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
